<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout</title>
  <link rel="stylesheet" href="/static/css/output.css">
  <script src="static/js/scripts.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"></script>
</head>
<body class="bg-gray-100">

  <div class="container mx-auto px-4">
    <div class="flex justify-center pt-4 space-x-4">
      <div class="w-1/5">
        <button hx-get="/true-beginner-1"
                hx-trigger="click"
                hx-target="#workoutArea"
                hx-swap="outerHTML"
                value="1"
                id="trueBeginner1"
                class="w-full py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
                True Beginner 1
        </button>
      </div>
      <div class="w-1/5">
        <button hx-get="/true-beginner-2"
                hx-trigger="click"
                hx-target="#workoutArea"
                hx-swap="innerHTML"
                class="w-full py-2 px-4 bg-green-500 text-white rounded-lg hover:bg-green-600">
                True Beginner 2
        </button>
      </div>
      <div class="w-1/5">
        <button class="w-full py-2 px-4 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600">
          Novice
        </button>
      </div>
      <div class="w-1/5">
        <button class="w-full py-2 px-4 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600">
          Intermediate
        </button>
      </div>
      <div class="w-1/5">
        <button class="w-full py-2 px-4 bg-red-500 text-white rounded-lg hover:bg-red-600">
          Advanced
        </button>
      </div>
      <div class="w-1/5">
        <button class="w-full py-2 px-4 bg-red-500 text-white rounded-lg hover:bg-grey-600"
        hx-get="/logout">
          Logout
        </button>
      </div>
    </div>
  </div>

  <div class="container mx-auto m-6" id="workoutArea">
    <!-- Content loaded dynamically -->
  </div>

</body>
</html>

